
body {
background: linear-gradient(to bottom right, #24d06c, #0fd1a7);
}

#containment-wrapper {
    width: 100%;
    height: 400px;
    border: 2px solid #000;
    position: relative;
    overflow: hidden;
    background-color: #10efdc;
    border-radius: 10px;
}

#Porsche-pic {
cursor: grab;
}
#Porsche-pic:active {
cursor: grabbing;
}
.score-box {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.navbar-brand {
    font-size: 18px;
    font-weight: bold;
}